/************************************************** index Page Sections **************************************************/
#sectionOne{
  background-image: url("../images/The-logo-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#sectionTwo{
  background-image: url("../images/background-2579719_1920.jpg");
}
.icon{
  margin-left: 41%;
}
.section .boxes{
  margin-left: 14%;
  padding: 10%;
}
/************************************************** navigation bar /**************************************************/
.navbar{
  width: 100%;
  height: 75px;
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 999;
  background-color: #000;
  opacity: 0.8;
}
nav ul{
  background-color: #616161;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.navmenu li{
  list-style: none;
  float: left;
  font-family: 'Amaranth', sans-serif;
  color: #fff;
}
.navmenu li.navmenu-right {
  float: right;
  color: #D38A8A;
}
.navmenu li a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: inherit;
}
.navmenu li a:hover{
  background-color: #9e9e9e;
  text-decoration: underline;
}
/************************************************** Header and footer **************************************************/
.header {
  text-align: right;
  font-size: 50px;
  padding: 60px;
  height: 50%;
  width: 70%;
  margin: auto;
  margin-top: 3%;
}
.footer {
  width: 100%;
  height: 75px;
  right: 0px;
  position: absolute;
  background-color: #616161;
}
/************************************************** text **************************************************/
.text {
  position: absolute;
  top: 45%;
  left: 50%;
  border:none;
  color: blue;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
h1 {
  padding-top: 10px;
  margin-left :160px;
}
/************************************************** list boxes **************************************************/
.logo {

  width: 100px;
  height: 100px;
  float: left;
}

.box {
  position: relative;
  width: 200px;
  height: 250px;
  margin: auto;
  padding: 10px;
  margin-top:10px;
}
.img {
  display: block;
  width:100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}
.box:hover .overlay {
  opacity: 0.5;
}
/************************************************** other listpage styling **************************************************/
.container {
  width:80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
hr {
  width:80%;
  margin: auto;
}
/************************************************** profile card **************************************************/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 10%;
    margin-left: 6%;
    text-align: center;
    float: left;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
