
/**********************      header & contents & footer         ********************/
.header {
	text-align: right;
	font-size: 50px;
	padding: 60px;
    height: 50%;
    width: 70%;
    margin: auto;

}
.logo {

width: 100px;
height: 100px;
float: left;
}
.container {

    width:100%;
	height:100%;
	margin:0%;


}
.footer {

   margin-top: 50%;
	padding: 60px;
	width: 90%;
    height: 20%;
	clear: both; 
    background-color: #aaa0aa;

}











